// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;
$space-xl: 64px;

body {
  background: linear-gradient(225deg, #473b7b 0%, #3584a7 50.91%, #30d2be 100%);
}

#root {
  padding-top: $space-xl;
  padding-bottom: $space-xl;
}

.main {
  background: white;
  padding: $space-lg;
  box-shadow: 0 0 6px 0 rgba(51, 51, 51, 0.5);
  .title {
    text-align: center;
    margin-bottom: $space-xs;
  }
  .subtitle {
    margin-top: 0;
    text-align: center;
    color: grey;
  }
  .error {
    color: #ee3930;
  }
  p {
    text-align: center;
    font-size: 24px;
  }
  .highlight {
    color: #473b7b;
  }
  .loader {
    position: relative;
    margin-top: $space-xl;
  }
  .ens-address {
    margin-top: $space-md;
  }
}
